body {
    margin: 0;
}

#homepage-container  {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  background-color: #FCFCFC;
  color: #291E1E;
  line-height: 1.4;
}

#homepage-container a,
#homepage-container a:hover,
#homepage-container a:focus,
#homepage-container a:visited {
    color: #CF6965;
    text-decoration: none;
}

#homepage-container a:hover {
    text-decoration: underline;
}

#homepage-container h1,
#homepage-container h2,
#homepage-container h3,
#homepage-container h4 {
    line-height: 1.1;
    margin: 18px 0 9px 0;
}

#homepage-container h2 {
    font-size: 30px;
}

#homepage-container h3 {
    font-size: 24px;
}

#homepage-container h4 {
    font-size: 18px;
}

#homepage-container button {
    font-size: 14px;
}

#homepage-container select {
    font-size: 14px;
}

#homepage-container #homepage-body {
  max-width: 700px;
  margin: 0 auto;
}

#homepage-container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: center center;
}

/* TitleBox */

#homepage-title-box {
    text-align: center;
}

#whats-new {
    position: absolute;
    top: 5px;
    right: 20px;
    font-style: italic;
    font-size: 18px;
    border-radius: 2px;
    padding: 1px 5px;
    border: 1px solid #CF6965;
}
@media (max-width: 768px) {
    #whats-new {
        font-size: 18px;
    }
}

#homepage-logo {
    vertical-align: inherit;
    margin-bottom: 60px;
}
@media (max-width: 768px) {
    #homepage-logo {
        display: none;
    }
}

#homepage-title {
    flex: 1 1 100%;
    font-size: 160px;
    line-height: 1.1;
    font-family: tulpen-one, Futura, serif;
    font-weight: 400;
    margin: 18px 0 0 0;
}
@media (min-width: 768px) {
    #homepage-title {
        font-size: 230px;
        position: relative;
        top: 45px;
        left: -7px;
        text-align: left;
        margin-bottom: 10px;
    }
}

#homepage-description {
    font-size: 22px;
    font-style: italic;
    margin: 0 0 9px;
    font-weight: 200;
}
@media (min-width: 768px) {
    #homepage-description {
        text-align: left;
    }
}

#homepage-logo {
    flex: 0 0 auto;
    height: 288px;
    width: 250px;
}

#homepage-launch-box {
  display: flex;
  flex-direction: row;
  place-content: center center;
  width: 100%;
  margin: 40px 0;
}

#homepage-launch-box-centered {
  flex: 0 1 515px;
  margin: 0 10px;
  position: relative;
}

#homepage-launch-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
  z-index: 20;
  background-color: rgba(229, 229, 229, 0.7);
}

#homepage-launch-screen {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

#logos {
   text-align: center;
}

#sbrg-logo {
  width: 100%;
  max-width: 500px;
  margin: 20px 0 20px 0;
}

#nnf-logo {
  width: 100%;
  max-width: 500px;
  margin: 10px 0 30px 0;
}

#copyright {
  width: 100%;
}
